In [1]:
import pandas as pd
import numpy as np

In [2]:
def load_file(data_file,separator=None):
    '''
    A function to load data files into a pandas DataFrame object.
    Inputs:
    1. data_file (required): the path for a data file ending in 'xls', 'xslx', 'cxv' or 'txt'
    2. separator (optional): the character(s) used to separator data in each row of the dataset
    
    Outputs:
    1. A DataFrame object with the data in data_file.
    '''
    
    # if data_file is an excel file, use the read_excel function
    if data_file.endswith('.xls') or data_file.endswith('.xlsx'):
        return pd.read_excel(data_file)
    
    # if the data_file is a .csv or .txt file, check if a separator was specified and load
    elif data_file.endswith('.csv') or data_file.endswith('.txt'):
        if separator:
            return pd.read_csv(data_file,separator=separator)
        else:
            return pd.read_csv(data_file)
        
    # otherwise raise an exception stating that the filetype was unknown
    else:
        print("Unknown file type!")
        raise

In [3]:
def find_duplicates_based_on_column(df,column):
    '''
    A function to determine which rows have duplicated data in the specified column.
    
    Inputs:
    1. df (required): a DataFrame object
    2. column (required): the name of the column that we're looking for duplicated in
    
    Outputs:
    1. A numpy array that contains the unique duplicated values in the specified column
    2. A boolean mask (numpy array) that has # of elements = # of rows in 
    the table where an element is True is the data in the specified column is dupicated,
    and False if it's not
    
    '''
    # determine how many times each ID in id_column appears
    counts = df[column].value_counts()
    
    # create a boolean mask that is True when that id appears more than once
    is_duplicate = counts > 1
    
    # get the actual index (the left side) for the places where id_is_duplicate is True
    duplicates = counts.index[is_duplicate]
    
    # convert that to a numpy array
    duplicates = np.array(duplicates)
    
    # also return an array that has # of elements = # of rows in the table
    # where an element is True is the ID for that row is in the list
    # of duplicate IDs, and False if it's not
    duplicate_mask = np.array(df[column].isin(duplicates))
    
    return duplicates, duplicate_mask

In [4]:
def remove_rows(df,boolean_mask):
    '''
    A function to remove rows.
    
    Inputs:
    1. df (required): a DataFrame object
    2. boolean_mask: a boolean mask that is True for rows that 
    should be deleted from the DataFrame and False for rows that
    should remain
    
    Outputs:
    1. A new DataFrame object w/ the specified rows removed.
    '''

    new_df = df.loc[boolean_mask,:].copy()
    return new_df

In [6]:
df = load_file('../data/credit_card_data.xls')
duplicate_ids, duplicate_mask = find_duplicates_based_on_column(df,'ID')
no_duplicate_df = remove_rows(df,~duplicate_mask)

In [44]:
new_duplicate_ids, new_duplicate_mask = find_duplicate_ids(no_duplicate_df,'ID')
len(new_duplicate_ids)

0

In [45]:
no_duplicate_df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [46]:
def find_rows_with_bad_data(df,bad_value,specific_column=None):
    '''
    A function to determine which rows have bad values.
    
    Inputs:
    1. df (required): a DataFrame object
    2. bad_value (required): a problematic data value
    3. specific_column (optional): only identify rows that contain the bad value in the column w/ this name
    
    Outputs:
    1. A boolean mask (numpy array) that has # of elements = # of rows in 
    the table where an element is True if that row contains to bad_value
    and False if it does not
    
    '''
    if specific_column and not specific_column in df.columns:
        print("Column does not exist in the DataFrame!")
        raise
    
    if specific_column:
        sum_of_bad = df[specific_column] == bad_value
    else:
        equal_to_bad = df == bad_value
        sum_of_bad = equal_to_bad.sum(axis=1)
    
    bad_row_mask = np.array(sum_of_bad>0)
    return bad_row_mask

# Homework 2:

1. [5pts] Read the find_rows_with_bad_data code and add comments to the code that explain what is happening on each line of code. (examples of code comments can be found in the load_file and find_duplicates_based_on_column methods)

2. [5pts] Use the find_rows_with_bad_data and remove_rows methods to create a new DataFrame without any rows that contain -2, 0, or 'Not Available' in any column.

In [ ]:
# YOUR CODE FOR QUESTION 2 GOES HERE

3. [2pts] How many rows did you remove in (1) ?

In [ ]:
rows_removed = # YOUR CODE FOR QUESTION 3 GOES HERE
rows_removed

4. [10pts] find_rows_with_bad_data takes in an optional parameter: 'specific_column' -- if this parameter is passed in, the code will only check if the bad value exists in that row.

Create three new DataFrames:
* A DataFrame that contains no values of -2 in the column 'PAY_1'
* A DataFrame that contains no values of 0 in the column 'PAY_2'
* A DataFrame that contains no values of 'Not Available' in the column

In [ ]:
# YOUR CODE FOR QUESTION 4 GOES HERE

5. [5pts] Download the 'movies.csv' file to your CS1070 directory. Open the data (in a TextEditor or Spreadsheet editor or browser -- however you want) and look through it. Load the movies data in and remove any movies with duplicated names.

In [ ]:
# YOUR CODE FOR QUESTION 5 GOES HERE

6. [5pts] Create a new DataFrame that contains all of the information for movies that __aren't__ comedies.

In [40]:
# YOUR CODE FOR QUESTION 6 HERE

## Download this iPython notebook (.ipynb) and submit it under Assignment 2 on Moodle.